<template>
  <div v-if="item" class="container-fluid my-5">
    <div class="row">
      <div class="col-12 col-sm-4">
        <div
          class="product--cover"
          :style="
            item.cover ? 'background-image: url(' + item.cover + ')' : null
          "
        >
          <template v-if="item.cover">
            <button class="btn btn-primary btn-sm quick-view--btn">
              <i class="fa fa-search" />
            </button>
          </template>
          <template v-else>
            <i class="fa fa-shopping-bag no-image-product" />
          </template>
        </div>
      </div>
      <div class="col-12 col-sm-8">
        <div class="product--title container-fluid mb-3">
          <h3 class="title">
            {{ item.name }}
          </h3>
          <h4 class="product-category">
            <nuxt-link
              v-if="sublevel"
              :to="'/sublevel/' + sublevel.id"
              class="product-category--link"
            >
              {{ sublevel.name }}
            </nuxt-link>
            <nuxt-link
              v-else-if="category"
              :to="'/category/' + category.id"
              class="product-category--link"
            >
              {{ category.name }}
            </nuxt-link>
          </h4>
          <div class="dash" />
        </div>
        <div class="product--price">
          <h3 class="price">
            {{ displayPrice(price, currency) }}
          </h3>
        </div>
        <template v-if="!item.available">
          <span class="text-not-available text-danger">No disponible</span>
        </template>
        <template v-else-if="item.quantity <= 0">
          <span class="text-not-stock text-warning">Agotado</span>
        </template>
        <div class="container-fluid">
          <div
            class="product--add-to-cart row align-items-center justify-content-between"
          >
            <div class="qty d-flex">
              <b-button
                variant="primary"
                class="btn-sm btn-spin"
                :disabled="!item.available || item.quantity <= 0"
                @click="updateQty('minus')"
              >
                <i class="fa fa-minus" />
              </b-button>
              <b-form-input
                v-model="qty"
                type="number"
                min="0"
                class="input-qty"
                disabled
              />
              <b-button
                variant="primary"
                class="btn-sm btn-spin"
                :disabled="!item.available || item.quantity <= 0"
                @click="updateQty()"
              >
                <i class="fa fa-plus" />
              </b-button>
            </div>
            <div class="total-price">
              Total:
              <span>
                {{ displayPrice(price, currency, qty) }}
              </span>
            </div>
            <b-button
              variant="primary"
              class="btn-sm btn-spin mt-3 w-100 py-2"
              :disabled="!item.available || item.quantity <= 0"
              @click="addToCart"
            >
              <i class="fa fa-shopping-bag" />
              Añadir al carrito
            </b-button>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <productList title="En la misma categoria" :items="sameCategory" />
      </div>
    </div>
  </div>
</template>

<script>
import productList from '../../components/catalog/listing/productList'

export default {
  components: {
    productList
  },
  data: () => ({
    qty: 1
  }),
  computed: {
    item() {
      return this.$ProductHelper.getProduct(this.$route.params.id)
    },
    category() {
      return this.$CategoryHelper.getCategory(this.item.sublevel_id, false)
    },
    sublevel() {
      return this.$CategoryHelper.getCategory(this.item.sublevel_id, true)
    },
    price() {
      let price = this.item.price.substring(1)
      price = price.replace(/,/g, '')
      return parseFloat(price)
    },
    currency() {
      return this.item.price[0]
    },
    sameCategory() {
      let products = this.$CategoryHelper.getProducts(this.item.sublevel_id)
      products = products.filter(item => item.id !== this.item.id)
      return products.slice(0, 3)
    }
  },
  methods: {
    updateQty(type = 'plus') {
      switch (type) {
        case 'plus':
          this.qty + 1 <= this.item.quantity && this.qty++
          break
        case 'minus':
          this.qty - 1 > 0 && this.qty--
          break
      }
    },
    addToCart() {
      this.$store
        .dispatch('cart/add', { id: this.item.id, qty: this.qty })
        .then(
          response => {
            this.$bvToast.toast(response, {
              title: '  Carrito',
              autoHideDelay: 5000,
              appendToast: true,
              variant: 'success'
            })
            this.qty = 1
          },
          error => {
            this.$bvToast.toast(error, {
              title: '  Carrito',
              autoHideDelay: 5000,
              appendToast: true,
              variant: 'danger'
            })
            this.qty = 1
          }
        )
    },
    displayPrice(price, currency, qty = 1) {
      return currency + price * qty
    }
  }
}
</script>

<style>
.product--cover {
  width: 100%;
  height: 350px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product--cover .no-image-product {
  font-size: 100px;
  color: #888;
}
.product--title .title {
  text-transform: uppercase;
  font-weight: 300;
  color: #222;
  font-size: 30px;
  margin: 0;
}
.dash {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 2px;
  background-color: #222;
}
.product-category {
  margin: 0;
}
.product-category .product-category--link {
  font-size: 18px;
  color: #888;
  font-weight: 300;
  margin-bottom: 0;
}
.input-qty {
  width: 90px;
}
.btn-spin {
  position: relative;
  z-index: 2;
}
.text-not-available,
.text-not-stock {
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}
.product--price .price,
.total-price {
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
}
</style>
