<template>
  <div :class="'product-list ' + custom">
    <div v-if="title" class="product-list--title container-fluid mb-3">
      <h3 class="title">{{ title }}</h3>
      <div class="dash" />
    </div>
    <div class="container-fluid">
      <div class="row product-list--list">
        <product
          v-for="(item, i) in items"
          :key="i"
          :item="item"
          :force="force"
        />
      </div>
    </div>
  </div>
</template>

<script>
import product from '../_partials/miniatures/product'

export default {
  components: {
    product
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default: null
    },
    force: {
      type: Boolean,
      default: false
    },
    custom: {
      type: String,
      default: 'my-5'
    }
  }
}
</script>

<style>
.product-list--title .title {
  text-transform: uppercase;
  font-weight: 300;
  color: #222;
  font-size: 30px;
  margin: 0;
}

.dash {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 2px;
  background-color: #222;
}
</style>
