<template>
  <div>
    <Header />
    <div class="container">
      <nuxt />
    </div>
  </div>
</template>

<script>
import Header from '../components/_partials/header'

export default {
  components: {
    Header
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');
* {
  font-family: 'Roboto Condensed', sans-serif;
}
.form-control {
  border-radius: 0;
  border-color: rgba(34, 34, 34, 0.15);
}
.form-control:focus {
  box-shadow: none;
  border-color: #222;
}

.btn,
.jumbotron {
  border-radius: 0;
}

.jumbotron {
  background-color: #e0e0e0;
}
</style>
