<template>
  <header>
    <b-navbar class="top-menu">
      <div class="container">
        <div class="row w-100">
          <div class="col d-flex justify-content-start align-items-center">
            <div class="top-menu--widget top-menu--widget-contact">
              <nuxt-link class="top-menu--link" to="#">
                Contactanos
              </nuxt-link>
            </div>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <div class="top-menu--widget top-menu--widget-contact">
              <nuxt-link class="top-menu--link" to="#">
                Tiendas
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </b-navbar>
    <b-navbar toggleable="lg" type="light" class="border-bottom">
      <div class="container">
        <div class="row w-100">
          <div class="col d-flex justify-content-start align-items-center">
            <b-navbar-toggle target="nav-collapse" class="mr-3">
              <i class="fa fa-bars toggler-icon" />
            </b-navbar-toggle>
            <nuxt-link class="navbar-brand mr-0 logo--link" to="/">
              EL BRATÓN
            </nuxt-link>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <b-collapse id="nav-collapse" class="justify-content-end" is-nav>
              <b-navbar-nav>
                <div class="mb-2">
                  <b-navbar-toggle target="nav-collapse">
                    <i class="fa fa-times toggler-icon" />
                    <span class="menu-indicator">Menu</span>
                  </b-navbar-toggle>
                </div>
                <div class="main-menu d-flex align-items-center">
                  <div
                    v-for="(category, i) in categories"
                    :id="'navItem_' + i"
                    :key="i"
                    :class="
                      !category.sublevels
                        ? 'main-menu--item d-flex noSubLevels'
                        : 'main-menu--item d-flex'
                    "
                    @click.stop="toggleItem('navItem_' + i)"
                  >
                    <nuxt-link
                      class="main-menu--link"
                      :to="'/category/' + category.id"
                    >
                      {{ category.name }}
                    </nuxt-link>
                    <ul
                      v-if="category.sublevels"
                      class="main-menu--submenu submenu--level-1 border"
                    >
                      <li
                        v-for="(sublevel, j) in category.sublevels"
                        :id="'navItem_' + i + '_' + j"
                        :key="j"
                        :class="
                          !sublevel.sublevels
                            ? 'submenu--item noSubLevels'
                            : 'submenu--item'
                        "
                        @click.stop="toggleItem('navItem_' + i + '_' + j)"
                      >
                        <nuxt-link
                          class="submenu--link d-flex"
                          :to="'/sublevel/' + sublevel.id"
                        >
                          {{ sublevel.name }}
                        </nuxt-link>
                        <ul
                          v-if="sublevel.sublevels"
                          class="main-menu--submenu submenu--level-2 border"
                          :style="'margin-top: ' + j * 37 + 'px'"
                        >
                          <li
                            v-for="(sub, k) in sublevel.sublevels"
                            :id="'navItem_' + i + '_' + j + '_' + k"
                            :key="k"
                            :class="
                              !sub.sublevels
                                ? 'submenu--item noSubLevels'
                                : 'submenu--item'
                            "
                            @click.stop="
                              toggleItem('navItem_' + i + '_' + j + '_' + k)
                            "
                          >
                            <nuxt-link
                              class="submenu--link d-flex"
                              :to="'/sublevel/' + sub.id"
                            >
                              {{ sub.name }}
                            </nuxt-link>
                            <ul
                              v-if="sub.sublevels"
                              class="main-menu--submenu submenu--level-3 border"
                              :style="'margin-top: ' + k * 37 + 'px'"
                            >
                              <li
                                v-for="(child, l) in sub.sublevels"
                                :id="
                                  'navItem_' + i + '_' + j + '_' + k + '_' + l
                                "
                                :key="l"
                                :class="
                                  !child.sublevels
                                    ? 'submenu--item noSubLevels'
                                    : 'submenu--item'
                                "
                                @click.stop="
                                  toggleItem(
                                    'navItem_' + i + '_' + j + '_' + k + '_' + l
                                  )
                                "
                              >
                                <nuxt-link
                                  class="submenu--link d-flex"
                                  :to="'/sublevel/' + child.id"
                                >
                                  {{ child.name }}
                                </nuxt-link>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </b-navbar-nav>
            </b-collapse>
            <div class="ml-2">
              <button class="btn btn-primary" @click="showCart = !showCart">
                <i class="fa fa-shopping-cart" />
                {{ cartSize }}
              </button>
              <navCart v-show="showCart" />
            </div>
          </div>
        </div>
      </div>
    </b-navbar>
  </header>
</template>

<script>
import categories from '../../assets/categories'
import navCart from '../checkout/navCart'

export default {
  components: {
    navCart
  },
  data: () => ({
    showCart: false
  }),
  computed: {
    categories() {
      return categories.categories
    },
    cartSize() {
      return this.$store.state.cart.cart.length
    }
  },
  methods: {
    toggleItem(elementID) {
      const element = document.getElementById(elementID)
      element.classList.toggle('active')
    }
  }
}
</script>

<style>
.top-menu {
  background-color: #222;
  color: #afafaf;
  font-size: 12px;
}

.top-menu .top-menu--widget a {
  color: #afafaf;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  text-transform: uppercase;
}

.logo {
  width: 150px;
  min-width: 50%;
}

.logo--link {
  width: max-content;
  width: -moz-max-content;
  width: -mz-max-content;
  width: -o-max-content;
}

.toggler-icon {
  color: #222;
}

.navbar-light .navbar-toggler {
  border: none;
}
@media only screen and (min-width: 991px) {
  .main-menu {
    margin-right: 15px;
  }

  .main-menu .main-menu--item {
    flex-direction: column;
  }

  .main-menu .main-menu--link {
    color: #222;
    padding: 25px 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
  }

  .main-menu .main-menu--link {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  .main-menu .main-menu--item:hover .main-menu--link,
  .main-menu .main-menu--link:hover,
  .main-menu .main-menu--link.nuxt-link-active {
    border-bottom-color: #222;
    text-decoration: none;
  }

  .main-menu .main-menu--item .main-menu--submenu {
    position: absolute;
    background-color: #fff;
    display: none;
    flex-direction: column;
    padding: 0;
    z-index: 3;
  }

  .main-menu .main-menu--item .main-menu--submenu.submenu--level-1 {
    top: 78px;
  }
  .main-menu .main-menu--item .main-menu--submenu.submenu--level-2,
  .main-menu .main-menu--item .main-menu--submenu.submenu--level-3 {
    top: -1px;
    left: 130px;
  }

  .main-menu .main-menu--item:hover > .main-menu--submenu {
    display: flex;
  }

  .submenu--item:hover > .main-menu--submenu {
    display: flex;
  }

  .main-menu .main-menu--item .main-menu--submenu .submenu--item {
    list-style: none;
  }

  .main-menu
    .main-menu--item
    .main-menu--submenu
    .submenu--item
    .submenu--link {
    text-transform: uppercase;
    color: #222;
    font-size: 14px;
    font-weight: 300;
    padding: 8px 15px;
    width: 130px;
  }

  .main-menu
    .main-menu--item
    .main-menu--submenu
    .submenu--item
    .submenu--link:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.08);
  }
}

@media only screen and (max-width: 991px) {
  #nav-collapse {
    position: fixed;
    background: #fff;
    color: #fff;
    left: -300px;
    width: 50vw;
    max-width: 300px;
    min-width: 200px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    top: 0;
    height: 100vh !important;
    padding: 15px;
    display: block !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 3;
    overflow: hidden;
  }

  #nav-collapse.show {
    left: 0;
  }

  #nav-collapse .form-inline,
  #nav-collapse .form-inline input {
    width: 100%;
  }

  .main-menu {
    flex-direction: column;
  }

  .main-menu .main-menu--item,
  .submenu--item {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
  }
  .submenu--item ul {
    width: 100%;
    flex-direction: column;
  }
  .main-menu .main-menu--item a {
    width: max-content;
    color: #222;
    padding: 10px 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
  }
  .main-menu .main-menu--item a:hover {
    text-decoration: none;
  }
  .main-menu .main-menu--item ul {
    padding: 0;
    display: none;
    border-color: transparent !important;
  }
  .main-menu .main-menu--item.active {
    margin-bottom: 10px;
  }
  .main-menu .main-menu--item.active,
  .main-menu .main-menu--item:hover,
  .submenu--item.active,
  .submenu--item:hover {
    background-color: rgba(188, 188, 188, 0.4);
    cursor: pointer;
  }
  .main-menu .main-menu--item.active > ul,
  .submenu--item.active > ul {
    display: flex;
    width: 100%;
  }
  .menu-indicator {
    color: #222;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    margin-left: 15px;
  }
  .main-menu--item::before,
  .submenu--item::before {
    content: '\f078';
    position: relative;
    color: #7a7a7a;
    margin-top: 10px;
    right: calc(30px - 100%);
    font-family: 'FontAwesome';
  }
  .main-menu--item.active:before,
  .submenu--item.active::before {
    content: '\f077';
  }
  .submenu--level-3 {
    margin-top: 0 !important;
  }
  .main-menu--item.noSubLevels:before,
  .submenu--item.noSubLevels::before {
    content: '';
  }
  .submenu--item.noSubLevels {
    padding-left: 15px;
  }
  .main-menu--item.active > .main-menu--submenu,
  .submenu--item.active > .main-menu--submenu {
    display: flex;
    flex-direction: column;
  }
}
</style>
